/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

body {
  margin: 20px
}

.formly-field {
  margin-bottom:16px;
}

.legendBox {
  width:25px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
}