/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 40px;
}

.no-pad-right {
	padding-right: 5px;
}

.no-pad {
	padding-left: 5px;
}

.list-group-item-success-dim {
	background-color: rgba(98, 196, 98, 0.5);
}

.list-group-item-warning-dim {
	background-color: rgba(248, 148, 6, 0.5);
}

.list-group-item-danger-dim {
	background-color: rgba(238, 95, 91, 0.5);
}

.formly-field {
  margin-bottom:16px;
}

.legendBox {
  width:25px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
}